{% load static %}



<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <center>
        <h1><a>{{ title }}</a></h1>
            <h2> Submit whos playing and select the desired set distribution</h2>
            <img src="{% static '/background/banner.png' %}" alt="My image"
                width = "600"
                height="200"
                style = "position:relative; top:-45px;"/>

    </center>
    <div id="intro", class="names" >
        <p>Enter a list of names seperated by commas.<p>
    </div>
    <div id="form", class="names">
      <form 
        style = "position: relative; width: 380px;">
        <input type="text" id="list">
          <br>
        <input type="button" value="Generate" id="button">
      </form>
    </div>
    <div id="results", class="names">
      <div>
      </div>  
    </div>
    <div id ="kingdom">
      <p v-if="myImage0.length > 0" style = "position: relative; top: -300px">
        <img v-bind:src="myImage0" style="width:186px;height:300px;">
        <img v-bind:src="myImage1" style="width:186px;height:300px;">
        <img v-bind:src="myImage2" style="width:186px;height:300px;">
        <img v-bind:src="myImage3" style="width:186px;height:300px;">
        <img v-bind:src="myImage4" style="width:186px;height:300px;">
      </p>
      <p v-if="myImage0.length > 0" style = "position: relative; top: -324px">
        <img v-bind:src="myImage5" style="width:186px;height:300px;">
        <img v-bind:src="myImage6" style="width:186px;height:300px;">
        <img v-bind:src="myImage7" style="width:186px;height:300px;">
        <img v-bind:src="myImage8" style="width:186px;height:300px;">
        <img v-bind:src="myImage9" style="width:186px;height:300px;">
        <p>{{card}}</p>
      </p>
      <div style ="position: fixed; left: 0; bottom: 0; width:100%; text-align: center">
        <button @click="click({{data}})">Generate Kingdom</button>
      </div>
    </div>
</body>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
</html>