{% load static %}



<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div>
  {% block content %}
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <div><a href="{% url 'logout' %}">Log Out</a></div>
  {% else %}
    <div>You are not logged in</div>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}
  {% endblock %}
  </div>
  <div> 
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = roomName + '/';
        };
    </script>
  </div>
    <center>
      <div>
        <h1 class="title"><a>{{ title }}</a></h1>
            <h2 style="color: #F0FFFF;"> Submit whos playing and select the desired set distribution then press generate kingdom</h2>
          </div> 
            <img src="{% static '/background/banner.png' %}" alt="My image"
                width = "600"
                height="200"
                style = "position:relative; top:-45px;"/>
    </center>
    <div class="names" >
        <p>Enter a list of names seperated by commas<p>
    </div>
    <div class="names">
      <form 
        style = "position: relative; width: 380px;">
        <input type="text" id="input">
        <input type="button" value="Randomize" id="button">
      </form>
    </div>
    <div id="names", class="names">
    </div>
    <div class="names" style="position: relative; top: 150px">
      <p>Select the desired set distribution (total should be 10 or less)</p>
        <label>Adventures</label>
        <input type="text2" id="Adventures" value="0">
        <label>Alchemy</label>
        <input type="text2" id="Alchemy" value="0">
        <br>
        <label>Allies</label>
        <input type="text2" id="Allies" value="0">
        <label>Base</label>
        <input type="text2" id="Base" value="0">
        <br>
        <label>Cornucopia</label>
        <input type="text2" id="Cornucopia" value="0">
        <label>Dark Ages</label>
        <input type="text2" id="Dark_Ages" value="0">
        <br>
        <label>Empires</label>
        <input type="text2" id="Empires" value="0">
        <label>Adventures</label>
        <input type="text2" id="Guilds" value="0">
        <br>
        <label>Hinterlands</label>
        <input type="text2" id="Hinterlands" value="0">
        <label>Intrigue</label>
        <input type="text2" id="Intrigue" value="0">
        <br>
        <label>Menagerie</label>
        <input type="text2" id="Menagerie" value="0">
        <label>Nocturne</label>
        <input type="text2" id="Nocturne" value="0">
        <br>
        <label>Promo</label>
        <input type="text2" id="Promo" value="0">
        <label>Prosperity</label>
        <input type="text2" id="Prosperity" value="0">
        <br>
        <label>Renaissance</label>
        <input type="text2" id="Renaissance" value="0">
        <label>Seaside</label>
        <input type="text2" id="Seaside" value="0">
        <br>
        <input type="button" value="Select Kingdom" id="button2">
    </div>
    <div id ="kingdom" style ="position: relative; width: 930px; height: 600px; margin: auto; top: -700px" >
      <p v-if="myImage0.length > 0" style = "position: relative; top: -300px">
        <img v-bind:src="myImage0" style="width:186px;height:300px;">
        <img v-bind:src="myImage1" style="width:186px;height:300px;">
        <img v-bind:src="myImage2" style="width:186px;height:300px;">
        <img v-bind:src="myImage3" style="width:186px;height:300px;">
        <img v-bind:src="myImage4" style="width:186px;height:300px;">
      </p>
      <p v-if="myImage0.length > 0" style = "position: relative; top: -324px" >
        <img v-bind:src="myImage5" style="width:186px;height:300px;">
        <img v-bind:src="myImage6" style="width:186px;height:300px;">
        <img v-bind:src="myImage7" style="width:186px;height:300px;">
        <img v-bind:src="myImage8" style="width:186px;height:300px;">
        <img v-bind:src="myImage9" style="width:186px;height:300px;">
      </p>
      <div style ="position: fixed; left: 0; bottom: 0; width:100%; text-align: center">
        <button @click="click()">Generate Kingdom</button>
      </div>
    </div>
</body>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
</html>